.blog-content-img {
  min-width: 100%;
  max-width: 100%;
  min-height: auto;
  height: auto;
  max-height: 50vw;
  margin: 0px;
}
.blog-content-img img {
  width: auto;
  height: auto;
  min-width: auto;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
}
