{{ $app_js := "assets/scripts/app.js" | absURL }}
{{ $jquery_min_js := "assets/scripts/jquery-3.3.1.min.js" | absURL }}
{{ $popper_min_js := "assets/scripts/popper-1.14.7.min.js" | absURL }}
{{ $bootstrap_min_js := "assets/bootstrap-4.3.1/js/bootstrap.min.js" | absURL }}
{{ $scrollspy_min_js := "assets/scripts/scrollspy.min.js" | absURL }}

<footer id="footer" class="footer">
    <div class="container">
        <!-- <h1 class="header-content__logo">hands-on.<span>cloud</span></h1> -->
        <h1 class="header-content__logo">
            <a href="/"><img src="/assets/images/logo-small.png" alt="footer logo" /></a>
        </h1>
        <span class="copyright-note">Copyright © 2019, All Rights Reserved.</span>
        <ul class="social-links right">
            {{ if and (.Site.Params.twitter) (ne .Site.Params.twitter "") }}
            <li>
                <a href="https://twitter.com/{{.Site.Params.twitter}}" target="_blank"><img
                        src="/assets/images/icons/twitter-icon.png" alt="facebook-icon" /></a>
            </li>
            {{ end }}

            {{ if and (.Site.Params.linkedin) (ne .Site.Params.linkedin "") }}
            <li>
                <a href="https://www.linkedin.com/in/{{.Site.Params.linkedin}}/" target="_blank"><img
                        src="/assets/images/icons/linked-in-icon.png" alt="facebook-icon" /></a>
            </li>
            {{ end }}

            {{ if and (.Site.Params.facebook) (ne .Site.Params.facebook "") }}
            <li>
                <a href="https://www.facebook.com/{{.Site.Params.facebook}}" target="_blank"><img
                        src="/assets/images/icons/facebook-icon.png" alt="facebook-icon" /></a>
            </li>
            {{ end }}
        </ul>
    </div>
</footer>

<script src="{{ $jquery_min_js }}"></script>
<script src="{{ $app_js }}"></script>
<script src="{{ $popper_min_js }}"></script>
<script src="{{ $bootstrap_min_js }}"></script>
<script src="{{ $scrollspy_min_js }}"></script>

{{- partial "mailchimp.html" . -}}
