<footer id="footer" class="footer">
    <div class="container">
        <div class="header-content__logo">
            <a href="/"><img src="/assets/images/logo-small.png" alt="hands-on.cloud footer logo" /></a>
        </div>
        <span class="copyright-note">Copyright © Hands-On.Cloud, All Rights Reserved.</span>
        <ul class="social-links right">
            {{ if and (.Site.Params.twitter) (ne .Site.Params.twitter "") }}
            <li>
                <a href="https://twitter.com/{{.Site.Params.twitter}}" target="_blank"><img
                        src="/assets/images/icons/twitter-icon.png" alt="hands-on.cloud twitter page" /></a>
            </li>
            {{ end }}

            {{ if and (.Site.Params.linkedin) (ne .Site.Params.linkedin "") }}
            <li>
                <a href="https://www.linkedin.com/in/{{.Site.Params.linkedin}}/" target="_blank"><img
                        src="/assets/images/icons/linked-in-icon.png" alt="hands-on.cloud linkedin page" /></a>
            </li>
            {{ end }}

            {{ if and (.Site.Params.facebook) (ne .Site.Params.facebook "") }}
            <li>
                <a href="https://www.facebook.com/{{.Site.Params.facebook}}" target="_blank"><img
                        src="/assets/images/icons/facebook-icon.png" alt="hands-on.cloud facebook page" /></a>
            </li>
            {{ end }}
        </ul>
    </div>
</footer>

{{ $app_js := resources.Get "js/app.js" }}
{{ $jquery_min_js := resources.Get "js/jquery-3.3.1.min.js" }}
{{ $scrollspy_min_js := resources.Get "js/scrollspy.min.js" }}

{{ $jsCombined := slice $jquery_min_js $scrollspy_min_js $app_js | resources.Concat "js/bundle.js" }}
{{ $js := $jsCombined | resources.Minify }}

<script src="{{ $js.RelPermalink }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js" async></script>

{{- partial "fb_pixel.html" . -}}
