<div class="google_custom_search_widget">
    <form method="GET" class="search-form" action="https://www.google.com/cse" target="_top">
        <div class="search-form-inner">
            <input name="cx" type="hidden" value="004668650145876600057:xty3dplgta3" />
            <input name="ie" type="hidden" value="UTF-8" />
            <input type="search" placeholder="Search..." name="q" required>
            <input type="submit" value="Go" class="search-button">
        </div>
    </form>
</div>