<script async src="https://cse.google.com/cse.js?cx=004668650145876600057:xty3dplgta3"></script>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a href="/"><img src="/assets/images/logo-small.png" alt="logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
        {{ range $name, $items := .Site.Taxonomies.categories }}
        <li class="nav-item">
          <a class="nav-link p-2 text-light" href="{{ $.Site.BaseURL }}/categories/{{ $name | urlize | lower }}/">
            {{ $name | upper }}
          </a>
        </li>
        {{ end }}
    </ul>

    <div class="gcse-search" type="text" placeholder="Search" width="3em" aria-label="Search" />
  </div>
</nav>
