{{ $keyword := .Get "keyword" }}
{{ $geo := .Get "geo" }}
{{ $time := .Get "time" }}
{{ $exploreQuery := .Get "exploreQuery" }}

{{ if .Page.OutputFormats.Get "HTML" }}
<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2213_RC01/embed_loader.js"></script>
<script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"{{ $keyword }}","geo":"{{ $geo }}","time":"{{ $time }}"}],"category":0,"property":""}, {"exploreQuery":"{{ $exploreQuery }}","guestPath":"https://trends.google.com:443/trends/embed/"});
</script>
{{ end }}