<!--
<picture>
    <source media="(width: 100%)" src="{{ with .Page.Resources.GetMatch (printf "*%s.webp" (.Get "src")) }}{{ .RelPermalink }}{{ end }}" data-lazy-src="{{ with .Page.Resources.GetMatch (printf "*%s.webp" (.Get "src")) }}{{ .RelPermalink }}{{ end }}" type="image/webp">
    <source media="(width: 100%)" src="{{ with .Page.Resources.GetMatch (printf "*%s.jpg" (.Get "src")) }}{{ .RelPermalink }}{{ end }}" data-lazy-src="{{ with .Page.Resources.GetMatch (printf "*%s.jpg" (.Get "src")) }}{{ .RelPermalink }}{{ end }}" type="image/jpg">
    <img width="100%" src="{{ with .Page.Resources.GetMatch (printf "*%s.png" (.Get "src")) }}{{ .RelPermalink }}{{ end }}" data-lazy-src="{{ with .Page.Resources.GetMatch (printf "*%s.png" (.Get "src")) }}{{ .RelPermalink }}{{ end }}">
</picture>
-->
<img width="100%" src="{{ with .Page.Resources.GetMatch (printf "%s.png" (.Get "name")) }}{{ .RelPermalink }}{{ end }}" data-lazy-src="{{ with .Page.Resources.GetMatch (printf "%s.png" (.Get "name")) }}{{ .RelPermalink }}{{ end }}">
