html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 5rem;
  color: #262626;
}

body > nav > a > img {
  margin-top: -.3em;
  padding-right: 1em;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.container {
  padding-bottom: 1rem;
}

div.container div.post {
  padding-top: 8rem !important;
}

/* Menu links */
div > nav > a.p-2 {
  text-transform: uppercase;
}

/* Cards on main page */
a,
a:hover,
a:visited {
  outline:none;
  text-decoration: none;
  -webkit-tap-highlight-color: white;
}

div.card-body > a,
div.card-body > a:hover,
div.card-body > a:visited {
  color: inherit;
  outline:none;
  text-decoration: none;
  -webkit-tap-highlight-color: white;
}

div.container div.post img {
  text-align: center;
  max-width: 100%;
  width: 100%;
  height: auto;
}

div.container div.post picture img {
  padding-bottom: 2em !important;
}

.jumbotron {
  padding-top: 10rem !important;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

/*! ===================== */
/*! Footer */
/*! ===================== */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #282828;
}

.footer .header-content__logo {
  font-size: 20px;
  margin-bottom: 10px
}

@media (min-width: 500px) {
  .footer .header-content__logo {
      display:inline-block;
      margin-bottom: 0
  }
}

.footer .container {
  padding: 10px 20px
}

@media (min-width: 479px) {
  .footer .container {
      padding:28px 20px
  }
}

.footer .copyright-note {
  font-size: 14px;
  color: #ababab;
  font-style: italic;
  display: block
}

@media (min-width: 500px) {
  .footer .copyright-note {
      margin-left:10px;
      display: inline-block;
      margin-bottom: 0
  }
}

.footer .social-links {
  display: block;
  float: none;
  margin-top: 15px
}

@media (min-width: 500px) {
  .footer .social-links {
      float:right;
      margin-top: 0.0rem;
  }
}

footer p {
  margin-bottom: 0.25rem;
}

/*! social links */
/*! ===================== */
.social-links {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.social-links li {
  display: inline-block;
  margin-right: 15px;
}

.social-links li:last-child {
  margin-right: 0
}

.social-links a {
  transition: all .3s
}

.social-links a:hover {
  filter: grayscale(1) brightness(3)
}

/*! prism code custom styles */
div.post > div.highlight > pre {
  padding: 1rem
}

/* tags */
.tag {
  font-size: 0.8rem;
  border-radius: 0.25rem;
  padding: .25em .4em;
  margin: .2em;
}

/* Google Custom Search widget*/
.gsc-input {
    min-width: 15em !important;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.3rem;
}