@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto:400,400i,500");code[class*=language-],pre[class*=language-] {
    color: #fff;
    background: none;
    text-shadow: 0 -.1em .2em #000;
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

@media print {
    code[class*=language-],pre[class*=language-] {
        text-shadow: none
    }
}

:not(pre)>code[class*=language-],pre[class*=language-] {
    background: #4d4033
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border: .3em solid #7a6652;
    border-radius: .5em;
    box-shadow: inset 1px 1px .5em #000
}

:not(pre)>code[class*=language-] {
    padding: .15em .2em .05em;
    border-radius: .3em;
    border: .13em solid #7a6652;
    box-shadow: inset 1px 1px .3em -.1em #000;
    white-space: normal
}

.token.cdata,.token.comment,.token.doctype,.token.prolog {
    color: #998066
}

.namespace,.token.punctuation {
    opacity: .7
}

.token.boolean,.token.constant,.token.number,.token.property,.token.symbol,.token.tag {
    color: #d1949e
}

.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string {
    color: #bde052
}

.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url,.token.variable {
    color: #f5b83d
}

.token.atrule,.token.attr-value,.token.keyword {
    color: #d1949e
}

.token.important,.token.regex {
    color: #e90
}

.token.bold,.token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

.token.deleted {
    color: red
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],template {
    display: none
}

*,:after,:before {
    box-sizing: border-box
}

body {
    font-family: Roboto,sans-serif;
    color: #686868;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body.no-scroll {
    overflow: hidden
}

ul {
    margin: 0;
    padding: 0
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top
}

a {
    color: inherit;
    text-decoration: none
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    color: #262626;
    margin: 0
}

p {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px
}

.pos-rel {
    position: relative
}

.pos-abs {
    position: absolute
}

.left {
    float: left
}

.right {
    float: right
}

.m0 {
    margin: 0
}

.mt0 {
    margin-top: 0
}

.mb0 {
    margin-bottom: 0
}

.mr0 {
    margin-right: 0
}

.ml0 {
    margin-left: 0
}

.pl10 {
    padding-left: 10px
}

.pr10 {
    padding-right: 10px
}

.pt10 {
    padding-top: 10px
}

.pb10 {
    padding-bottom: 10px
}

.pt15 {
    padding-top: 15px
}

.p0 {
    padding: 0
}

.ta-left {
    text-align: left
}

.ta-right {
    text-align: right
}

.ta-center {
    text-align: center
}

.d-table {
    display: table
}

.d-table-cell {
    display: table-cell
}

.d-flex {
    display: flex
}

.f-align-center {
    align-items: center
}

.v-align-center {
    vertical-align: middle
}

/*! row styles */
/*! ===================== */
.row:after {
    content: "";
    clear: both;
    display: table
}

.row--clear-3rd>div:nth-child(odd) {
    clear: left
}

@media (min-width: 767px) {
    .row--clear-4th-atmedium>div:nth-child(4n+1) {
        clear:left
    }
}

@media (max-width: 767px) {
    .row--clear-3rd-atsmall>div:nth-child(odd) {
        clear:left
    }
}

@media (min-width: 479px) {
    .row--gutters-sm-20>div {
        padding-right:20px
    }

    .row--gutters-sm-20 {
        margin-right: -20px
    }
}

@media (min-width: 767px) {
    .row--gutters-md-40>div {
        padding-right:40px
    }

    .row--gutters-md-40 {
        margin-right: -40px
    }

    .row--gutters-md-35>div {
        padding-right: 35px
    }

    .row--gutters-md-35 {
        margin-right: -35px
    }
}

.row--mb-50>div {
    margin-bottom: 50px
}

.row--mb-40>div {
    margin-bottom: 40px
}

@media (min-width: 479px) {
    .row__sm-4 {
        float:left;
        width: 33.33%
    }

    .row__sm-6 {
        float: left;
        width: 50%
    }

    .row__sm-8 {
        float: left;
        width: 66.66%
    }

    .row__sm-12 {
        width: 100%
    }
}

@media (min-width: 767px) {
    .row__md-4 {
        float:left;
        width: 33.33%
    }

    .row__md-6 {
        float: left;
        width: 50%
    }

    .row__md-8 {
        float: left;
        width: 66.66%
    }

    .row__md-12 {
        width: 100%
    }
}

/*! Container Styles */
.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px
}

.container:after {
    content: "";
    clear: both;
    display: table
}

/*! Main background wrap */
.main-background-wrap {
    background: url(../../assets/images/top-left-bg.png) no-repeat -460px -240px,url(../../assets/images/bottom-left-bg.png) no-repeat -340px 106.5%,url(../../assets/images/side-bt-bg.png) no-repeat 132% 43.7%;
    padding: 30px 0 20px;
    background-color: #f7f7f7
}

@media (min-width: 479px) {
    .main-background-wrap {
        padding:50px 0 40px
    }
}

@media (min-width: 767px) {
    .main-background-wrap {
        padding:70px 0
    }
}

/*! ===================== */
/*! main content styles */
/*! ===================== */
.main-content {
    max-width: 740px;
    display: inline-block;
    width: 100%
}

/*! section */
/*! ===================== */
.section {
    margin-bottom: 68px
}

.section__title {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 42px
}

/*! card styles */
.card {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.09);
    transition: all .2s
}

@media (min-width: 479px) {
    .card {
        padding:30px 30px 7px
    }
}

.card--no-padding {
    padding: 0
}

.card--no-margin {
    margin: 0
}

.card--has-link:hover {
    box-shadow: 4px 4px 5px 2px rgba(0,0,0,.41)
}

/*! ===================== */
/*! right sidebar */
/*! ===================== */
.right-sidebar {
    display: inline-block;
    width: 100%;
    margin-top: 20px
}

@media (min-width: 767px) {
    .right-sidebar {
        display:block;
        max-width: 355px;
        margin-top: 0
    }
}

/*! ===================== */
/*! page overlap */
/*! ===================== */
.page-overlap {
    background: rgba(0,0,0,.5);
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity .2s cubic-bezier(.4,0,1,1),visibility 0s linear .2s;
    visibility: hidden;
    width: 100%;
    z-index: 9
}

.page-overlap.open {
    opacity: 1;
    transition: opacity .2s cubic-bezier(0,0,.2,1),visibility 0s linear 0s;
    visibility: inherit
}

/*! Header nav icon */
/*! ===================== */
.header-nav-icon-wrap {
    top: 0;
    right: 0;
    z-index: 1010
}

@media (min-width: 1200px) {
    .header-nav-icon-wrap {
        top:-2px;
        right: 3px
    }
}

.header-nav-icon {
    width: 31px;
    height: 19px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    outline: none
}

.header-nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out
}

.header-nav-icon span:first-child {
    top: 0;
    transform-origin: left center
}

.header-nav-icon span:nth-child(2) {
    top: 8px;
    transform-origin: left center
}

.header-nav-icon span:nth-child(3) {
    bottom: 0;
    transform-origin: left center
}

.header-nav-icon.open span:first-child {
    transform: rotate(45deg)
}

.header-nav-icon.open span:nth-child(2) {
    width: 0;
    opacity: 0
}

.header-nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 22px
}

/*! ==================================== */
/*! HEADER */
/*! ==================================== */
.main-header {
    background: #010916 url(../../assets/images/banner-bg.jpg) no-repeat 50%;
    padding: 35px 20px;
    background-size: cover;
    font-family: Montserrat,sans-serif
}

.main-header .container {
    padding: 30px 20px;
    overflow: visible
}

@media (min-width: 479px) {
    .main-header .container {
        padding:96px 20px 88px
    }
}

/*! Mobile Navigation */
/*! ===================== */
.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0e2678;
    display: table;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s
}

.mobile-nav.open {
    opacity: .9;
    visibility: visible;
    z-index: 1000
}

.mobile-nav ul {
    list-style-type: none;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center
}

.mobile-nav ul li {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 400;
    width: 100%
}

@media (min-width: 479px) {
    .mobile-nav ul li {
        font-size:30px;
        margin-bottom: 40px
    }
}

@media (min-width: 767px) {
    .mobile-nav ul li {
        font-size:40px;
        margin-bottom: 50px
    }
}

.mobile-nav ul li:last-child {
    margin-bottom: 0
}

.mobile-nav ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    transition: all .3s
}

.mobile-nav ul li a:hover {
    text-decoration: underline
}

/*! header content */
/*! ===================== */
.header-content__logo {
    color: #fff;
    font-size: 30px;
    transition: all .5s
}

.header-content__logo img {
    vertical-align: middle
}

.header-content__logo span {
    color: #8ae22c
}

@media (min-width: 479px) {
    .header-content__logo {
        font-size:50px
    }
}

@media (min-width: 767px) {
    .header-content__logo {
        font-size:75px
    }
}

.header-content__description {
    font-size: 13px;
    color: #fff;
    transition: all .5s
}

@media (min-width: 479px) {
    .header-content__description {
        font-size:16px
    }
}

@media (min-width: 767px) {
    .header-content__description {
        font-size:20px
    }
}

.blog-cat-info {
    justify-content: space-between;
    margin-bottom: 10px
}

/*! Buttons */
.btn-wrap {
    margin: 10px 0
}

.btn {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 7px 15.2px;
    color: #fff;
    border-radius: 1px;
    display: inline-block;
    text-decoration: none;
    transition: all .3s
}

.btn--large {
    padding: 13px 19px;
    font-size: 15px
}

.btn--small {
    font-size: 11px;
    padding: 3.3px 10px
}

.btn--blue {
    background-color: #66d9cf
}

.btn--orange {
    background-color: #fe7235
}

.btn--d-blue {
    background-color: #2b8fd5
}

.btn--green {
    background-color: #2fc394
}

.btn--plain {
    border: none
}

.btn:hover {
    filter: brightness(.9)
}

/*! blog info */
.blog-info {
    display: inline-block
}

.blog-info li {
    display: inline-block;
    margin-right: 10px
}

.blog-info li:last-child {
    margin-right: 0
}

.blog-info a {
    display: inline-block;
    padding-left: 20px;
    background-position: 0;
    background-repeat: no-repeat;
    font-size: 14px;
    color: #ababab;
    text-decoration: none;
    transition: all .3s
}

.blog-info a:hover {
    filter: grayscale(1) brightness(0)
}

.blog-info__share {
    background-image: url(../../assets/images/icons/share-icon.png)
}

.blog-info__fav {
    background-image: url(../../assets/images/icons/fav-icon.png)
}

.blog-info__comment {
    background-image: url(../../assets/images/icons/comment-icon.png)
}

/*! Blog post banner */
/*! ===================== */
.blog-post-banner {
    padding: 0 35px 5px 48px
}

/*! Blog Post */
/*! ===================== */
.blog-post .post-date {
    display: inline-block;
    margin-bottom: 0
}

.blog-post p {
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
    text-overflow: ellipsis;
    margin-bottom: 25px
}

.blog-post__title {
    font-size: 18px;
    margin-bottom: 10px;
    max-width: 555px;
    transition: color .3s
}

.blog-post__title:hover {
    color: #fe7235
}

@media (min-width: 479px) {
    .blog-post__title {
        font-size:25px
    }
}

.blog-post__link {
    color: #fe7235;
    text-decoration: none
}

.blog-post__link:hover {
    color: #f75109;
    text-decoration: underline
}

.blog-post__file-ext {
    background-color: #282828;
    color: #fff;
    padding: 0 5px;
    border-radius: 10px;
    margin: 0 5px 0 2px;
    transition: all .3s
}

.blog-post__file-ext:hover {
    background-color: #fe7235
}

.blog-post__img {
    margin-bottom: 10px
}

/*! post header */
/*! ===================== */
.post-header {
    margin-bottom: 15px
}

/*! post content */
/*! ===================== */
.post-content p {
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
    text-overflow: ellipsis;
    margin-bottom: 25px
}

.post-content h3 {
    font-size: 16px;
    margin-bottom: 20px
}

@media (min-width: 479px) {
    .post-content h3 {
        font-size:22px
    }
}

.post-content dl {
    background-color: #f7f7f7;
    padding: 10px 15px 25px 17px;
    border-radius: 5px;
    margin-bottom: 50px
}

.post-content dl dt {
    display: inline-block;
    margin-bottom: 5px
}

.post-content dl dt:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #fe7235;
    margin-right: 5px;
    vertical-align: middle
}

.post-content dl dd {
    display: inline;
    margin: 0
}

.post-content dl dd:before {
    content: "-";
    display: inline-block;
    margin: 0 5px 0 0;
    line-height: 1.5
}

.post-content dl dd:after {
    content: "\A";
    white-space: pre-line
}

/*! post date */
.post-date {
    color: #ababab;
    font-size: 14px;
    font-style: italic;
    transition: all .3s
}

a.post-date:hover {
    color: #000
}

/*! Blog post about author */
/*! ===================== */
.card-about-author {
    padding: 10px;
    margin-bottom: 48px
}

@media (min-width: 479px) {
    .card-about-author {
        padding:35px 30px 45px
    }
}

.blog-post-author {
    position: relative
}

.blog-post-author .blog-post__inner-title {
    margin-bottom: 13px;
    transition: all .3s
}

.blog-post-author .blog-post__inner-title:hover {
    color: #fe7235
}

.blog-post-author__img {
    margin-bottom: 20px
}

@media (min-width: 479px) {
    .blog-post-author__img {
        margin-bottom:0;
        position: absolute;
        left: 0;
        top: 0
    }
}

@media (min-width: 479px) {
    .blog-post-author__details {
        padding-left:178px
    }
}

.blog-post-author__details p {
    margin-bottom: 15px
}

.blog-post-author__details .social-links li {
    margin-right: 15px
}

.blog-post-author__details .social-links a:hover {
    filter: grayscale(1) brightness(0)
}

/*! social links */
/*! ===================== */
.social-links {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.social-links li {
    display: inline-block;
    margin-right: 15px
}

.social-links li:last-child {
    margin-right: 0
}

.social-links a {
    transition: all .3s
}

.social-links a:hover {
    filter: grayscale(1) brightness(3)
}

/*! post recomend */
.post-recomnd {
    margin-bottom: 40px
}

.post-recomnd__title {
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px
}

.post-recomnd__post .card {
    padding: 0;
    margin-bottom: 17px
}

.post-recomnd .blog-cat-info {
    margin-bottom: 20px
}

/*! title line through styles */
/*! ===================== */
.title-line-through {
    overflow: hidden;
    text-align: center
}

.title-line-through:after,.title-line-through:before {
    background-color: #ececec;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%
}

.title-line-through:before {
    right: .5em;
    margin-left: -50%
}

.title-line-through:after {
    left: .5em;
    margin-right: -50%
}

/*! post card styles */
.card {
    position: relative;
}

.card-img {
    text-align: center
}

.card-cat {
    position: absolute;
    left: 0;
    bottom: 0
}

.card-title {
    font-size: 17px;
    line-height: 1.5;
    color: #262626;
    transition: color .3s
}

.card-title:hover {
    color: #fe7235
}

/*! Widget styles */
/*! ===================== */
.widget {
    margin-bottom: 30px;
    padding-top: 1px
}

.widget__title {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 12px
}

.widget-advertisement .widget__title {
    margin-bottom: 20px
}

/*! Author info widget */
/*! ===================== */
.author-info {
    background-color: #282828;
    text-align: center;
    margin-top: 42px;
    padding: 20px 20px 37px;
    color: #a6a6a6
}

.author-info>ul {
    margin-top: -50px;
    margin-bottom: 23px
}

.author-info__img {
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    top: -65px
}

.author-info__name {
    font-size: 20px;
    color: #fff;
    margin-bottom: 8px
}

.author-info__skill {
    margin-bottom: 37px;
    font-style: italic
}

.author-info__detail {
    margin-bottom: 40px
}

.author-info__btn {
    font-size: 14px;
    color: #fe7235;
    text-transform: uppercase;
    transition: all .3s
}

.author-info__btn:hover {
    text-decoration: underline
}

/*! search form widget */
/*! ===================== */
.search-form-wrap {
    padding: 20px 30px;
    background-color: #282828
}

.search-form .input-group--icon-right {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    transition: width .3s;
    -webkit-backface-visibility: hidden
}

.search-form__search {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 45px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 14px;
    color: #393939;
    font-style: italic
}

.search-form__search::-webkit-input-placeholder {
    color: #ababab;
    opacity: 1
}

.search-form__search:-ms-input-placeholder {
    color: #ababab;
    opacity: 1
}

.search-form__search::-ms-input-placeholder {
    opacity: 1
}

.search-form__search::placeholder {
    color: #ababab;
    opacity: 1
}

.search-form__search::-ms-input-placeholder {
    color: #ababab
}

.search-form__submit {
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1
}

.search-form__icon,.search-form__submit {
    width: 45px;
    height: 45px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 45px;
    text-align: center;
    cursor: pointer
}

.search-form__icon {
    color: #fff;
    background: #e67e22;
    z-index: 90
}

.search-form__icon img {
    vertical-align: middle;
    transition: all .3s
}

.search-form__icon img:hover {
    transform: scale(1.1)
}

/*! post category */
.post-category__list {
    list-style-type: none;
    margin-left: -5px
}

.post-category__list li {
    display: inline-block;
    padding: 5px;
    padding-right: 2px
}

/*! side advertisement */
.sidebar-advert .widget__title {
    margin-bottom: 15px
}

/*! popular posts styles */
/*! ===================== */
.popular-posts {
    position: relative;
    min-height: 110px;
    margin-bottom: 30px
}

.popular-posts__thumb {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff
}

.popular-posts__detail {
    padding-left: 140px
}

.popular-posts__title {
    font-size: 17px;
    margin-bottom: 15px;
    transition: color .3s
}

.popular-posts__title:hover {
    color: #fe7235
}

.popular-posts__cat {
    position: absolute;
    bottom: 10px;
    right: 10px
}

/*! post tags widget */
/*! ===================== */
.post-tags__list {
    list-style-type: none;
    margin-left: -5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.post-tags__list li {
    display: inline-block;
    padding: 5px;
    padding-right: 2px
}

.post-tags .btn {
    font-size: 15px;
    text-transform: lowercase
}

/*! Author page styles */
/*! ===================== */
.author-page .main-background-wrap {
    background: url(../../assets/images/top-left-bg.png) no-repeat -460px -240px,url(../../assets/images/bottom-left-bg-flipped.png) no-repeat 130% 132.5%;
    background-color: #f7f7f7
}

/*! About Author */
/*! ===================== */
.about-author {
    position: relative;
    background-color: #282828;
    min-height: 320px
}

@media (min-width: 767px) {
    .about-author__img {
        position:absolute;
        left: 0;
        top: 0
    }
}

.about-author__img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    max-height: 200px
}

@media (min-width: 767px) {
    .about-author__img img {
        width:auto;
        max-height: none;
        -o-object-fit: initial;
        object-fit: fill
    }
}

.about-author__details {
    padding: 30px 30px 20px
}

@media (min-width: 767px) {
    .about-author__details {
        padding-left:360px
    }
}

.about-author__name {
    font-size: 25px;
    color: #fff;
    transition: color .3s
}

.about-author__name:hover {
    color: #fe7235
}

.about-author__skills {
    font-size: 14px;
    font-style: italic;
    color: #ababab;
    margin-bottom: 35px
}

.about-author__sub-title {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px
}

.about-author__social-links {
    list-style-type: none;
    margin-bottom: 32px
}

.about-author__social-links li {
    display: inline-block;
    margin-right: 60px
}

.about-author__social-links li:last-child {
    margin-right: 0
}

.about-author__social-links img {
    margin-right: 5px;
    vertical-align: middle
}

.about-author__social-links a {
    font-size: 14px;
    color: #6c97d3;
    font-style: italic;
    transition: all .3s
}

.about-author__social-links a:hover {
    text-decoration: underline
}

.about-author__contact {
    list-style-type: none
}

@media (min-width: 900px) {
    .about-author__contact {
        column-count:2
    }
}

.about-author__contact li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px
}

.about-author__contact a {
    font-size: 14px;
    color: #6c97d3;
    font-style: italic;
    margin-left: 10px;
    transition: all .3s
}

.about-author__contact a:hover {
    text-decoration: underline
}

/*! Author posts */
/*! ===================== */
.author-posts {
    margin-bottom: 0
}

.author-posts__load-more {
    text-align: center
}

.author-posts__load-more .btn {
    font-size: 15px;
    color: #fff
}

.author-posts .blog-cat-info {
    margin-bottom: 22px
}

/*! ===================== */
/*! main-blog page styles */
/*! ===================== */
.main-blog-page .main-background-wrap {
    padding-top: 0;
    padding-bottom: 0;
    background: url(../../assets/images/top-left-bg.png) no-repeat -324px -186px,url(../../assets/images/bottom-left-bg.png) no-repeat -340px 115.5%;
    background-color: #f7f7f7
}

@media (min-width: 767px) {
    .main-blog-page .main-background-wrap {
        background:url(../../assets/images/top-left-bg.png) no-repeat -324px -186px,url(../../assets/images/bottom-left-bg.png) no-repeat -340px 115.5%,url(../../assets/images/side-bt-bg.png) no-repeat 132% 24.5%;
        background-color: #f7f7f7
    }
}

/*! ===================== */
/*! section featured posts */
/*! ===================== */
.section-featured-posts {
    background-color: #ffffff8f;
    padding-top: 70px;
    padding-bottom: 30px
}

.section-featured-posts .main-content {
    max-width: 750px
}

.section-featured-posts .right-sidebar {
    display: block
}

@media (min-width: 767px) {
    .section-featured-posts .right-sidebar {
        max-width:360px
    }
}

.section-featured-posts .post-recomnd__post {
    margin-bottom: 30px
}

.section-featured-posts .card {
    margin-bottom: 18px
}

/*! ===================== */
/*! section recent posts */
/*! ===================== */
.section-recent-posts {
    margin-bottom: 0;
    padding-bottom: 40px
}

.section-recent-posts .section__title {
    margin-bottom: 55px
}

.section-recent-posts .blog-cat-info {
    margin-bottom: 20px
}

.section-recent-posts .widget {
    margin-bottom: 40px
}

.section-recent-posts .widget__title {
    font-size: 17px;
    font-weight: 700;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 23px
}

.section-recent-posts .popular-posts {
    margin-bottom: 30px
}

.section-recent-posts .popular-posts .popular-posts__cat {
    right: auto;
    bottom: 0
}

.section-recent-posts .right-sidebar {
    display: block
}

@media (min-width: 767px) {
    .section-recent-posts .right-sidebar {
        max-width:360px
    }
}

.section-recent-posts .popular-posts__title {
    font-size: 15px;
    line-height: 1.5
}

.section-recent-posts .post-recomnd__post {
    margin-bottom: 30px
}

.section-recent-posts .subscribe {
    background-color: #282828;
    padding: 20px 30px;
    text-align: center
}

.section-recent-posts .subscribe .btn {
    width: 100%
}

/*! ===================== */
/*! Footer */
/*! ===================== */
.footer {
    background-color: #282828
}

.footer .header-content__logo {
    font-size: 20px;
    margin-bottom: 10px
}

@media (min-width: 500px) {
    .footer .header-content__logo {
        display:inline-block;
        margin-bottom: 0
    }
}

.footer .container {
    padding: 10px 20px
}

@media (min-width: 479px) {
    .footer .container {
        padding:28px 20px
    }
}

.footer .copyright-note {
    font-size: 14px;
    color: #ababab;
    font-style: italic;
    display: block
}

@media (min-width: 500px) {
    .footer .copyright-note {
        margin-left:10px;
        display: inline-block;
        margin-bottom: 0
    }
}

.footer .social-links {
    display: block;
    float: none;
    margin-top: 15px
}

@media (min-width: 500px) {
    .footer .social-links {
        float:right;
        margin-top: 5px
    }
}

/*! prism code custom styles */
.blog-content pre {
    margin-bottom: 26px
}

:not(pre)>code[class*=language-],pre[class*=language-] {
    background: #292929
}

pre[class*=language-] {
    box-shadow: none;
    border: none;
    font-size: 13px
}
